---
import ThemeToggle from "@/components/ThemeToggle.astro";
import { menuLinks } from "@/site.config";
import { siteConfig } from "../../site.config";
---

<header class="group relative mb-28 flex items-center sm:ps-18" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={Astro.url.pathname === "/" ? "page" : false}
			class="inline-flex items-center filter-none hover:grayscale sm:relative sm:inline-block"
			href="/"
		>
			<svg
				style="width: 70px; height: 145px;"
				aria-hidden="true"
				class="me-3 h-10 w-6 sm:absolute sm:-start-20 sm:top-[-20px] sm:me-0 sm:h-20 sm:w-12"
				fill="none"
				focusable="false"
				viewBox="0 0 272 480"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Logo</title>
				<path
					fill="#B8B98A"
					opacity="1.000000"
					stroke="none"
					d=" M138.964859,203.955872 
	                    C136.174149,199.647339 133.301193,195.388321 130.654175,190.993240 
	                    C130.040451,189.974228 129.839005,188.422958 130.064377,187.233429 
	                    C130.883316,182.910904 128.963104,180.205948 125.593819,178.451767 
	                    C122.431007,182.439835 119.580391,186.656967 116.109390,190.279724 
	                    C109.145218,197.548279 96.587250,193.987320 93.963905,184.205048 
	                    C92.969711,180.497772 91.623329,176.835831 91.113358,173.061890 
	                    C90.623322,169.435486 91.007439,165.690948 91.007439,162.167892 
	                    C88.998550,161.754547 86.547256,161.522842 84.289719,160.735535 
	                    C76.952888,158.176849 79.376518,151.205505 78.165192,146.036377 
	                    C77.533783,143.341934 78.672157,140.253876 78.866508,137.333984 
	                    C78.939598,136.235901 79.005257,134.760712 78.389549,134.054108 
	                    C74.178642,129.221512 69.919838,124.414070 65.401253,119.872345 
	                    C62.658791,117.115860 60.969006,109.771156 62.199207,106.247749 
	                    C64.923943,98.443863 71.133621,93.730270 77.434669,89.482872 
	                    C80.706154,87.277641 85.356354,87.117760 89.964630,85.877571 
	                    C88.958069,76.060364 86.272324,64.846642 99.374939,58.142296 
	                    C97.937614,55.946503 95.755043,53.913296 95.207497,51.507908 
	                    C94.026680,46.320614 93.372742,40.958099 93.100952,35.636757 
	                    C92.885620,31.420742 97.478760,28.276846 104.559189,26.976391 
	                    C109.825989,26.009041 115.082619,24.986300 120.343338,23.985939 
	                    C120.826683,23.894028 121.348518,23.874298 121.782074,23.670942 
	                    C126.187447,21.604610 130.578201,19.507072 135.764740,17.042000 
	                    C136.757721,9.271235 139.316833,6.817361 149.538940,4.956108 
                      	C152.389221,4.437127 155.168533,3.260136 158.022461,3.089813 
                    	C162.784805,2.805596 165.482559,5.589702 166.043213,10.298036 
	                    C166.270523,12.206981 166.857010,14.098918 167.488403,15.926622 
	                    C168.099838,17.696569 168.978821,19.374096 169.586716,20.745726 
	                    C170.936386,12.207908 174.338882,9.343598 183.720108,8.965365 
	                    C186.487564,8.853786 189.270676,7.921875 191.986603,8.134060 
	                    C194.049591,8.295232 196.724518,9.116608 197.900772,10.610105
						C202.152115,16.007984 207.392548,21.329729 209.406052,27.596979 
						C211.582458,34.371368 213.600861,41.957260 210.854263,49.564007 
						C209.404495,53.579132 211.165314,54.653351 215.243790,54.413574 
						C221.776627,54.029507 228.726089,51.952393 234.527771,57.188267 
						C236.977280,59.398895 239.529678,61.277756 239.124603,65.351822 
						C238.840393,68.210495 239.243027,71.340561 240.158920,74.074753 
						C242.319687,80.525246 240.984177,85.685287 235.650711,89.866776 
						C234.347595,90.888420 233.114334,91.999161 231.572876,93.302338 
						C241.882584,96.718796 248.090363,113.897499 240.881317,123.539658 
						C249.000504,125.030716 254.005447,130.509705 257.376404,137.241776 
						C258.572693,139.630829 258.354401,143.788910 257.038513,146.179993 
						C252.774109,153.928940 248.826309,162.146698 238.608597,164.303162 
						C233.679489,165.343460 231.165802,170.083298 230.968826,175.516113 
						C230.923157,176.775879 230.798538,178.205231 230.182709,179.243774 
						C226.270660,185.841354 220.169601,189.836807 213.027374,191.785522 
						C210.620590,192.442215 207.549500,190.664246 204.323196,189.695038 
						C203.676682,189.106415 203.419174,188.916412 202.892700,188.553345 
						C199.796677,186.242996 196.899780,184.200378 193.729034,181.864105 
						C193.250809,179.690155 193.046417,177.809830 192.867401,175.578094 
						C190.448456,173.148254 186.952011,171.539749 185.771637,168.896851 
						C183.038910,162.778229 178.834763,160.241028 172.240189,160.661331 
						C172.166931,161.618484 172.018845,162.598038 172.029083,163.575943 
						C172.091125,169.505539 171.294250,175.012772 166.416016,179.300446 
						C165.330017,180.254944 165.446609,182.580063 165.014130,184.275299 
						C163.688614,189.471146 163.003952,194.945938 160.888992,199.797394 
						C157.846085,206.777496 151.602112,209.162720 144.579361,206.916428 
						C142.595200,206.281784 140.830307,204.961624 138.964859,203.955872 
				     z"
				></path>

				<path
					fill="#693B3D"
					opacity="1.000000"
					stroke="none"
					d="
            M138.972977,204.396118 
	C140.830307,204.961624 142.595200,206.281784 144.579361,206.916428 
	C151.602112,209.162720 157.846085,206.777496 160.888992,199.797394 
	C163.003952,194.945938 163.688614,189.471146 165.014130,184.275299 
	C165.446609,182.580063 165.330017,180.254944 166.416016,179.300446 
	C171.294250,175.012772 172.091125,169.505539 172.029083,163.575943 
	C172.018845,162.598038 172.166931,161.618484 172.240189,160.661331 
	C178.834763,160.241028 183.038910,162.778229 185.771637,168.896851 
	C186.952011,171.539749 190.448456,173.148254 192.492188,175.615295 
	C182.471191,177.242676 179.367416,183.150452 180.326691,192.157532 
	C181.259003,200.911621 183.372757,209.548965 185.209183,218.186218 
	C185.437881,219.261826 186.998764,220.377609 188.191864,220.869293 
	C193.628708,223.109772 197.966141,220.864975 202.114960,217.094284 
	C202.584366,217.047256 202.772354,217.030899 202.960358,217.014526 
	C203.601151,222.571716 204.307693,228.122803 204.825409,233.691437 
	C204.924927,234.761734 204.543167,236.074127 203.940155,236.979645 
	C200.597412,241.999557 201.537048,246.811340 204.326584,251.632629 
	C204.413361,251.782623 204.043228,252.196991 203.663910,252.899826 
	C201.868530,252.380951 199.966965,251.831406 197.987808,251.259430 
	C192.305420,256.536285 192.299179,256.535767 184.382355,249.655090 
	C183.712952,248.533096 183.284760,247.779388 182.654419,246.804214 
	C177.762756,244.635513 173.044342,242.977463 167.777496,245.000977 
	C167.103561,245.284241 166.596985,245.699661 165.869339,245.937592 
	C162.015305,243.603058 156.165237,245.115646 154.758041,239.197571 
	C154.715378,239.018097 153.849503,239.078339 153.390182,238.947159 
	C149.028366,237.701492 148.155106,240.972000 146.712936,243.929611 
	C146.712936,242.899765 146.712936,241.869904 146.712936,240.769547 
	C145.277451,241.232727 144.114395,241.608002 142.951355,241.983276 
	C138.600418,232.715912 139.516434,222.881760 139.735794,213.096588 
	C139.797363,210.350204 139.249451,207.590134 138.972977,204.396118 
z"
				></path>
				<path
					fill="#9B5A5C"
					opacity="1.000000"
					stroke="none"
					d="
M201.833557,217.124939 
	C197.966141,220.864975 193.628708,223.109772 188.191864,220.869293 
	C186.998764,220.377609 185.437881,219.261826 185.209183,218.186218 
	C183.372757,209.548965 181.259003,200.911621 180.326691,192.157532 
	C179.367416,183.150452 182.471191,177.242676 192.466827,175.966736 
	C193.046417,177.809830 193.250809,179.690155 193.769501,182.211121 
	C195.047272,185.256927 196.010727,187.662094 196.650528,189.987579 
	C194.577271,189.340714 192.827652,188.773514 191.078049,188.206314 
	C190.791016,189.101425 190.249222,189.999969 190.261230,190.891052 
	C190.312027,194.665192 190.495514,198.438766 190.691437,202.209396 
	C190.892639,206.081680 192.791336,207.381348 196.329620,206.106354 
	C198.665848,207.888412 200.708420,209.503815 202.750992,211.119217 
	C202.748245,212.105133 202.745483,213.091064 202.428070,214.508621 
	C202.020111,215.668488 201.926834,216.396713 201.833557,217.124939 
z"
				></path>
				<path
					fill="#4F1927"
					opacity="1.000000"
					stroke="none"
					d="
M167.944855,245.133148 
	C173.044342,242.977463 177.762756,244.635513 182.301178,246.796509 
	C177.627304,247.278122 177.520294,247.387894 179.145233,250.092712 
	C178.965530,251.692062 178.785858,253.291412 178.598877,254.955597 
	C176.347351,254.239349 174.803589,251.330597 172.310120,253.986801 
	C171.993027,254.324631 170.662079,254.039215 170.002426,253.676193 
	C163.365982,250.024063 162.080292,250.721268 162.027069,258.388794 
	C159.850830,256.257843 157.799561,254.249283 155.748306,252.240723 
	C154.922684,253.120804 154.097046,254.000870 152.865875,255.313248 
	C151.004654,254.787964 148.111649,253.971481 144.629150,252.988632 
	C144.291367,249.766266 139.499207,246.832916 142.694885,242.056458 
	C144.114395,241.608002 145.277451,241.232727 146.712936,240.769547 
	C146.712936,241.869904 146.712936,242.899765 146.712936,243.929611 
	C148.155106,240.972000 149.028366,237.701492 153.390182,238.947159 
	C153.849503,239.078339 154.715378,239.018097 154.758041,239.197571 
	C156.165237,245.115646 162.015305,243.603058 166.048813,246.002151 
	C166.947845,245.873856 167.446350,245.503510 167.944855,245.133148 
z"
				></path>
				<path
					fill="#5B2831"
					opacity="1.000000"
					stroke="none"
					d="
M202.962402,210.787018 
	C200.708420,209.503815 198.665848,207.888412 196.432495,205.810333 
	C195.832504,204.049240 195.621811,202.640991 194.975937,201.473480 
	C193.212708,198.286163 192.842148,195.611038 197.001465,194.388855 
	C198.399002,195.854965 199.739609,196.974213 201.080215,198.093460 
	C204.291809,201.788177 204.808640,205.939301 202.962402,210.787018 
z"
				></path>
				<path
					fill="#9B5A5C"
					opacity="1.000000"
					stroke="none"
					d="
M201.460175,198.033295 
	C199.739609,196.974213 198.399002,195.854965 197.017181,193.990402 
	C196.975372,192.185791 196.974777,191.126526 196.974182,190.067245 
	C196.010727,187.662094 195.047272,185.256927 194.043350,182.504761 
	C196.899780,184.200378 199.796677,186.242996 202.776093,188.810150 
	C203.088257,190.226791 203.317917,191.118912 203.547577,192.011017 
	C202.978439,193.998398 202.409302,195.985764 201.460175,198.033295 
z"
				></path>
				<path
					fill="#501B28"
					opacity="1.000000"
					stroke="none"
					d="
M179.388535,250.107620 
	C177.520294,247.387894 177.627304,247.278122 182.503311,247.017975 
	C183.284760,247.779388 183.712952,248.533096 184.103470,249.542725 
	C182.721954,251.743134 181.272171,252.237244 179.388535,250.107620 
z"
				></path>
				<path
					fill="#965759"
					opacity="1.000000"
					stroke="none"
					d="
M203.643982,191.657227 
	C203.317917,191.118912 203.088257,190.226791 202.975220,189.077881 
	C203.419174,188.916412 203.676682,189.106415 203.930969,189.626007 
	C203.911865,190.341766 203.826141,190.822617 203.643982,191.657227 
z"
				></path>
				<path
					fill="#5B2831"
					opacity="1.000000"
					stroke="none"
					d="
M202.114960,217.094284 
	C201.926834,216.396713 202.020111,215.668488 202.384735,214.875824 
	C202.852646,215.416763 203.049210,216.022141 203.103058,216.821014 
	C202.772354,217.030899 202.584366,217.047256 202.114960,217.094284 
z"
				></path>
				<path
					fill="#501A28"
					opacity="1.000000"
					stroke="none"
					d="
M167.777496,245.000977 
	C167.446350,245.503510 166.947845,245.873856 166.269882,246.179642 
	C166.596985,245.699661 167.103561,245.284241 167.777496,245.000977 
z"
				></path>
				<path
					fill="#6C3E3F"
					opacity="1.000000"
					stroke="none"
					d="
M196.650528,189.987579 
	C196.974777,191.126526 196.975372,192.185791 196.960266,193.643524 
	C192.842148,195.611038 193.212708,198.286163 194.975937,201.473480 
	C195.621811,202.640991 195.832504,204.049240 196.138824,205.643692 
	C192.791336,207.381348 190.892639,206.081680 190.691437,202.209396 
	C190.495514,198.438766 190.312027,194.665192 190.261230,190.891052 
	C190.249222,189.999969 190.791016,189.101425 191.078049,188.206314 
	C192.827652,188.773514 194.577271,189.340714 196.650528,189.987579 
    z"
				></path>
				<span class="text-xl font-bold sm:text-2xl">{siteConfig.title}</span>
			</svg>
			<nav
				aria-label="Main menu"
				class="bg-global-bg/85 text-accent sm:divide-accent absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md py-4 shadow backdrop-blur-sm group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
				id="navigation-menu"
			>
				{
					menuLinks.map((link) => (
						<a
							aria-current={Astro.url.pathname === link.path ? "page" : false}
							class="px-4 py-4 underline-offset-2 hover:underline sm:py-0"
							data-astro-prefetch
							href={link.path}
						>
							{link.title}
						</a>
					))
				}
			</nav>
		</a>
		<ThemeToggle />
		<mobile-button>
			<button
				aria-expanded="false"
				aria-haspopup="menu"
				class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
				id="toggle-navigation-menu"
				type="button"
			>
				<span class="sr-only">Open main menu</span>
				<svg
					aria-hidden="true"
					class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
					fill="none"
					focusable="false"
					id="line-svg"
					stroke="currentColor"
					stroke-width="1.5"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
					></path>
				</svg>
				<svg
					aria-hidden="true"
					class="text-accent absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
					class="text-accent"
					fill="none"
					focusable="false"
					id="cross-svg"
					stroke="currentColor"
					stroke-width="1.5"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
			</button>
		</mobile-button>

		<script>
			import { toggleClass } from "@/utils/domElement";

			class MobileNavBtn extends HTMLElement {
				#menuOpen: boolean = false;

				connectedCallback() {
					const headerEl = document.getElementById("main-header")!;
					const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

					mobileButtonEl?.addEventListener("click", () => {
						if (headerEl) toggleClass(headerEl, "menu-open");
						this.#menuOpen = !this.#menuOpen;
						mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
					});
				}
			}

			customElements.define("mobile-button", MobileNavBtn);
		</script>
	</div>
</header>
