---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Zoe",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">
		About<p class="mt-0 text-sm text-gray-500">Last updated: July 5, 2025</p>
	</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
		<p>Hi again! My name is Jou-I Wu, but you can also call me Zoe •ᴗ•</p>
		<p>
			I recently completed my bachelor’s degree and officially received my diploma. My journey into
			sustainability began with my degree program —<a
				class="cactus-link inline-block"
				href="https://www.cs.tum.de/en/study/bachelor/sustainable-management-technology"
				rel="noreferrer"
				target="_blank">Sustainable Management and Technology</a
			> at the <a
				class="cactus-link inline-block"
				href="https://www.tum.de/en"
				rel="noreferrer"
				target="_blank">Technical University of Munich</a
			>.
			<p>
				Since then, I’ve continued exploring sustainability-related topics such as strategies,
				approaches, and business models. These studies deeply resonate with my lifestyle and have
				strengthened my sustainable mindset.
			</p>
			<p>
				With all of this, I’m now pursuing a career in ESG and sustainability, as it’s something I’m
				genuinely passionate about ˃ᴗ˂
			</p>
			<p>
				Below, you’ll find a selection of my work. These projects gave me some hands-on experience
				applying theory to practice and helped me understand how sustainability can be integrated
				into different concepts and aspects of business.
			</p>
		</p>
	</div>
	<h1 class="text-lg font-semibold">Projects<span style="font-size: 2em;">✍</span></h1>
</PageLayout>
