---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Zoe",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">
		About<p class="mt-0 text-sm text-gray-500">Last updated: July 5, 2025</p>
	</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
		<p>Hi again! My name is 吳柔依 (Jou-I Wu), but you can also call me Zoe •ᴗ•</p>
		<p>
			I recently completed my bachelor’s degree in <a
				class="cactus-link inline-block"
				href="https://www.cs.tum.de/en/study/bachelor/sustainable-management-technology"
				rel="noreferrer"
				target="_blank">Sustainable Management and Technology</a
			> from <a
				class="cactus-link inline-block"
				href="https://www.tum.de/en"
				rel="noreferrer"
				target="_blank">Technical University of Munich</a
			>.
			<p>
				In this program, I learned about business operations and management through the lens of
				sustainability. I also had the chance to work on projects that put theory into practice.
				That was my first hands-on experience tackling tasks with a sustainable mindset, and it
				helped me see how sustainability can fit into different areas of business.
				<a href="/projects" class="hover:text-accent">
					Click here to see a selection of my work →
				</a>
			</p>

			<p>
				Over time, sustainability has become more than just something I studied. It’s also a big
				part of how I live. I’ve been living in a relatively conscious and low-impact way for a
				while now, and studying sustainability has only made that mindset stronger.
			</p>
			<p>
				With all of this, I’m now pursuing a career in ESG and sustainability because it’s something
				that truly matters to me ˃ᴗ˂
			</p>
		</p>

		<p class="mb-0">Also see:</p>
		<a href="/certificates" class="hover:text-accent text-sm underline">Certificates →</a>
		<div class="flex flex-wrap gap-4">
			<a href="/cv-english.pdf" target="_blank" class="hover:text-accent"> CV (English) </a>

			<a href="/cv-mandarin.pdf" target="_blank" class="hover:text-accent"> 履歷（繁體中文） </a>
		</div>
	</div>
</PageLayout>
