---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hi, there!</h1>
		<p class="mb-4">
			Welcome to my blog! I'm your fellow human who dreams of a peaceful world — a world where
			everyone's rights are respected, and where we live in harmony with nature.
		</p>

		<p class="mb-4">
			This big dream takes effort from all of us. As someone who cares deeply about these issues, I
			want to play my part in building a more sustainable society.
		</p>

		<p class="mb-2">Use the buttons above to explore my journey:</p>

		<ul class="mb-4 list-inside list-disc">
			<li>On the <strong>About</strong> page, you can get to know me better.</li>
			<li>
				On the <strong>Blog</strong>, I’ll share my thoughts, experiences, and insights on
				sustainability.
			</li>
			<li>
				On the <strong>Notes</strong> page, you’ll find study notes from my recent learning — especially
				around GRI standards — as I work toward becoming a more sustainable manager.
			</li>
		</ul>
		<SocialList />
	</section>
</PageLayout>
